In [1]:
! pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, LongType
from dotenv import load_dotenv
import os

In [3]:
# Load environment variables
load_dotenv()

HDFS_ENDPOINT = "demo-hadoop-namenode:9000"

spark = SparkSession.builder \
    .appName("DeltaLakeHDFS") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.0.0") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .getOrCreate()

In [4]:
csv_file_path = "./apartments.csv"
table_name = 'apartment'
table_location = f'hdfs://{HDFS_ENDPOINT}/delta-lake/{table_name}'

In [5]:
df = spark.read.option("delimiter", ";").csv(csv_file_path, header=True, inferSchema=True)

In [6]:
df.show()

df.printSchema()

+----------+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+--------------------+-------------+-----+--------+---------+------------+----------+
|        id|            category|               title|                body|           amenities|bathrooms|bedrooms|currency|fee|has_photo|pets_allowed|price|price_display|price_type|square_feet|             address|     cityname|state|latitude|longitude|      source|      time|
+----------+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+--------------------+-------------+-----+--------+---------+------------+----------+
|5668626895|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       0|     USD| No|Thumbnail|        None|  790|         $790|   Monthly|        101|                null|   Washington|   DC| 38.9057| -76.9861|   RentLingo|1577359415|
|5664597177|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       1|     USD| No|Thumbnail|        None|  425|         $425|   Monthly|        106|      814 Schutte Rd|   Evansville|   IN| 37.9680| -87.6621|   RentLingo|1577017063|
|5668626833|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|        1|       0|     USD| No|Thumbnail|        None| 1390|       $1,390|   Monthly|        107|                null|    Arlington|   VA| 38.8910| -77.0816|   RentLingo|1577359410|
|5659918074|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|        1|       0|     USD| No|Thumbnail|        None|  925|         $925|   Monthly|        116|    1717 12th Avenue|      Seattle|   WA| 47.6160|-122.3275|   RentLingo|1576667743|
|5668626759|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       0|     USD| No|Thumbnail|        None|  880|         $880|   Monthly|        125|                null|    Arlington|   VA| 38.8738| -77.1055|   RentLingo|1577359401|
|5667891676|housing/rent/apar...|0 BR in New York ...|**RARE GEM WITH P...|Dishwasher,Elevat...|        1|       0|     USD| No|Thumbnail|        null| 2475|       $2,475|   Monthly|        130|    350 West 50th St|    Manhattan|   NY| 40.7629| -73.9885|    Listanza|1577289784|
|5668627426|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       0|     USD| No|Thumbnail|        None| 1800|       $1,800|   Monthly|        132|  2432 Penmar Avenue|       Venice|   CA| 33.9932|-118.4609|   RentLingo|1577359461|
|5668626687|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       0|     USD| No|Thumbnail|        None|  840|         $840|   Monthly|        136|                null|   Washington|   DC| 38.9328| -77.0297|   RentLingo|1577359393|
|5668610290|housing/rent/apar...|Studio apartment ...|This unit is loca...|        Refrigerator|        1|       0|     USD| No|Thumbnail|        None| 1495|       $1,495|   Monthly|        138|         333 Hyde St|San Francisco|   CA| 37.7599|-122.4379|   RentLingo|1577358313|
|5668627023|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       0|     USD| No|Thumbnail|        None|  890|         $890|   Monthly|        141|                null|   Washington|   DC| 38.9118| -77.0132|   RentLingo|1577359424|
|5668627099|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       0|     USD| No|Thumbnail|        None|  990|         $990|   Monthly|        146|15th St SE Indepe...|   Washington|   DC| 38.9118| -77.0132|   RentLingo|1577359430|
|5668626548|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       0|     USD| No|Thumbnail|        None|  840|         $840|   Monthly|        150|                null|   Washington|   DC| 38.9118| -77.0132|   RentLingo|1577359381|
|5664598162|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       1|     USD| No|Thumbnail|   Cats,Dogs| 1795|       $1,795|   Monthly|        156|      2326 N 6th Ave|       Tucson|   AZ| 32.2264|-110.9438|   RentLingo|1577017148|
|5668626900|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|     null|       0|     USD| No|Thumbnail|        None| 1090|       $1,090|   Monthly|        178|                null|   Washington|   DC| 38.9118| -77.0132|   RentLingo|1577359415|
|5664571820|housing/rent/apar...|Studio apartment ...|This unit is loca...|        Refrigerator|        1|       0|     USD| No|Thumbnail|        None| 1695|       $1,695|   Monthly|        190|        57 Taylor St|San Francisco|   CA| 37.7599|-122.4379|   RentLingo|1577015121|
|5659276240|housing/rent/apar...|  Studio Cottage 214|New Bern Studio i...|AC,Basketball,Cab...|        1|       1|     USD| No|Thumbnail|   Cats,Dogs| 1560|$1,560 Weekly|    Weekly|        200|                null|     New Bern|   NC| 35.0847| -77.0609|   ListedBuy|1576618076|
|5654898031|housing/rent/apar...|  Studio Cottage 214|New Bern Studio i...|AC,Basketball,Cab...|        1|       1|     USD| No|Thumbnail|   Cats,Dogs| 1560|       $1,560|   Monthly|        200|180 Moonlight Lak...|     New Bern|   NC| 35.0960| -77.0272|RentDigs.com|1576406273|
|5664574876|housing/rent/apar...|One BR Spring Rid...|This unit is loca...|                null|        1|       1|     USD| No|Thumbnail|        None| 1000|       $1,000|   Monthly|        200|                null|       Spring|   TX| 30.0871| -95.4685|   RentLingo|1577015327|
|5668633573|housing/rent/apar...|Studio apartment ...|This unit is loca...|                null|        1|       1|     USD| No|Thumbnail|        None|  950|         $950|   Monthly|        200|545 Georgia St 71...|      Vallejo|   CA| 38.1172|-122.2313|   RentLingo|1577359918|
|5668624220|housing/rent/apar...|One BR Falcon Woo...|This unit is loca...|                Pool|        1|       1|     USD| No|Thumbnail|        None|  625|         $625|   Monthly|        200|                null|     Marietta|   GA| 33.9649| -84.5107|   RentLingo|1577359224|
+----------+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+--------------------+-------------+-----+--------+---------+------------+----------+
only showing top 20 rows

root
 |-- id: long (nullable = true)
 |-- category: string (nullable = true)
 |-- title: string (nullable = true)
 |-- body: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- fee: string (nullable = true)
 |-- has_photo: string (nullable = true)
 |-- pets_allowed: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- price_display: string (nullable = true)
 |-- price_type: string (nullable = true)
 |-- square_feet: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- cityname: string (nullable = true)
 |-- state: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- source: string (nullable = true)
 |-- time: integer (nullable = true)

In [7]:
df.write.format("delta").option("path", table_location).save()

AnalysisException: Cannot write to already existent path hdfs://demo-hadoop-namenode:9000/delta-lake/apartment without setting OVERWRITE = 'true'.