In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [2]:
spark = SparkSession.builder \
    .appName("SparkHiveExample") \
    .config("spark.sql.catalogImplementation", "hive") \
    .config("hive.metastore.uris", "thrift://demo-hive-metastore:9083") \
    .enableHiveSupport() \
    .getOrCreate()

In [3]:
spark.sql("CREATE DATABASE IF NOT EXISTS emp")
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
|      emp|
+---------+

In [3]:
spark.sql("USE emp;")

AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient

In [ ]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("gender", StringType(), True)
])

In [6]:
data = [(1, "James",30,"M"), (2, "Ann",40,"F"),
    (3, "Jeff",41,"M"),(4, "Jennifer",20,"F")]
df = spark.createDataFrame(data, schema)

df.write.mode('append') \
          .saveAsTable("emp.employee")

spark.sql("select * from employee;").show()

+---+--------+---+------+
| id|    name|age|gender|
+---+--------+---+------+
|  4|Jennifer| 20|     F|
|  1|   James| 30|     M|
|  3|    Jeff| 41|     M|
|  2|     Ann| 40|     F|
+---+--------+---+------+

In [7]:
data = [(5, "Sky",30,"M"), (6, "Anna",40,"F")]
df = spark.createDataFrame(data)
df.write.mode('append') \
          .insertInto("employee")
spark.sql("select * from employee;").show()

+---+--------+---+------+
| id|    name|age|gender|
+---+--------+---+------+
|  4|Jennifer| 20|     F|
|  1|   James| 30|     M|
|  3|    Jeff| 41|     M|
|  6|    Anna| 40|     F|
|  5|     Sky| 30|     M|
|  2|     Ann| 40|     F|
+---+--------+---+------+

In [8]:
# Create a new session to test if the metadata persist
spark_new = SparkSession.builder \
    .appName("SparkHiveExample") \
    .config("spark.sql.catalogImplementation", "hive") \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .enableHiveSupport() \
    .getOrCreate()

In [9]:
spark_new.sql("select * from emp.employee;").show()

+---+--------+---+------+
| id|    name|age|gender|
+---+--------+---+------+
|  4|Jennifer| 20|     F|
|  1|   James| 30|     M|
|  3|    Jeff| 41|     M|
|  6|    Anna| 40|     F|
|  5|     Sky| 30|     M|
|  2|     Ann| 40|     F|
+---+--------+---+------+